<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JT - Your only Music Destination</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav class = "navbar">
        <ul >
            <li><img class = "logo" src="/images/spotifylogo.png">JT Music Company</li>
            <li>Home</li>
            <li><a id="About" href="https://www.linkedin.com/in/aditya-jain-38692823a" >About(LinkedIn)</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="songList container" >
            
            <span class = "txt">Your Favourite Music :-</span>
            <div  class="songName ">
                <img class = "songimg" src="/images/bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="0" class= "far songItemPlay fa-play-circle play"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="1" class= "far songItemPlay fa-play-circle play"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"> 5:48<i id="2" class=" far songItemPlay fa-play-circle"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="3" class= "far songItemPlay fa-play-circle"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="4" class= "far songItemPlay fa-play-circle"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="/images/bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="4" class= "far songItemPlay fa-play-circle"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="/images/bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="4" class= "far songItemPlay fa-play-circle"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="/images/bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="4" class= "far songItemPlay fa-play-circle"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="/images/bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="4" class= "far songItemPlay fa-play-circle"></i>
            </div>
            <div class="songName">
                <img class = "songimg" src="/images/bg2.jpg">
                 <span class="sngname">Mann Mera</span>
                 <span class="sngduration"><span class= "timestamp"></span>5:48<i id="4" class= "far songItemPlay fa-play-circle"></i>
            </div>
            
        </div>
        <div class="bottom">
        
            <input type="range" name="range" id="progressbar" min="0" max="100">
            
            <div class= btn>
              <i id ="previous" class="fa-solid fa-backward"></i>
              <i id="masterPlay" class="far fa-3x fa-play-circle"></i>
              <i id="next" class="fa-solid fa-forward"></i>
            </div>
            <div class="songInfo">
                <img src="/images/gif.gif" id="gif" width="42px" alt="" id="gif"> <span id="masterSongName">Warriyo - Mortals [NCS Release]</span>
            </div>
        </div>
        <script src="script.js"></script>
        <script src="https://kit.fontawesome.com/ac8a731a28.js" crossorigin="anonymous"></script>
    </div>
   
</body>
</html>